@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "IRANSans";
  src: url("/fonts/IRANSans/IRANSansWeb(FaNum).eot");
  src: url("/fonts/IRANSans/IRANSansWeb(FaNum).eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/IRANSans/IRANSansWeb(FaNum).ttf") format("truetype"),
    url("/fonts/IRANSans/IRANSansWeb(FaNum).woff") format("woff"),
    url("/fonts/IRANSans/IRANSansWeb(FaNum).woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSans_Light";
  src: url("/fonts/IRANSans/IRANSansWeb(FaNum)_Light.eot");
  src: url("/fonts/IRANSans/IRANSansWeb(FaNum)_Light.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/IRANSans/IRANSansWeb(FaNum)_Light.ttf") format("truetype"),
    url("/fonts/IRANSans/IRANSansWeb(FaNum)_Light.woff") format("woff"),
    url("/fonts/IRANSans/IRANSansWeb(FaNum)_Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSans_Medium";
  src: url("/fonts/IRANSans/IRANSansWeb(FaNum)_Medium.eot");
  src: url("/fonts/IRANSans/IRANSansWeb(FaNum)_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/IRANSans/IRANSansWeb(FaNum)_Medium.ttf") format("truetype"),
    url("/fonts/IRANSans/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
    url("/fonts/IRANSans/IRANSansWeb(FaNum)_Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSans_Bold";
  src: url("/fonts/IRANSans/IRANSansWeb(FaNum)_Bold.eot");
  src: url("/fonts/IRANSans/IRANSansWeb(FaNum)_Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/IRANSans/IRANSansWeb(FaNum)_Bold.ttf") format("truetype"),
    url("/fonts/IRANSans/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
    url("/fonts/IRANSans/IRANSansWeb(FaNum)_Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "social-icons";
  src: url("/fonts/social-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.IRANSans {
  font-family: IRANSans !important;
}

.IRANSans_Light {
  font-family: IRANSans_Light !important;
}

.IRANSans_Medium {
  font-family: IRANSans_Medium !important;
}

.IRANSans_Bold {
  font-family: IRANSans_Bold !important;
}

.shabnam-Light {
  font-family: "shabnam-Light", sans-serif !important;
}
.shabnam-Bold {
  font-family: "shabnam-Bold", sans-serif !important;
}

html {
  padding: 0 !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: IRANSans !important;
}

header {
  max-width: max-content;
  max-width: 1440px !important;
}
@media (min-width: 1024) {
  header {
    max-width: unset !important;
    flex-direction: row-reverse !important;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.animate-fade {
  animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) both;
}

@layer utilities {
  .direction-rtl {
    direction: rtl;
  }
  .direction-ltr {
    direction: ltr;
  }
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px;
  background-color: #ededed;
}

::-webkit-scrollbar-thumb {
  background-color: #c52f33;
  border-radius: 4px !important;
}
